*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f3f3f3;
    width: 100%;
    min-height: 100vh;
    /* max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.container{
    text-align: center;
}

.title{
    font-size: 35px;
    font-weight: 600;
    padding-top: 1rem;
}
.restart-btn{
    outline: none;
    border: none;
    background-color: #fff;
    font-family: 'poppins',sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding: 8px 12px;
    border-radius: 3px;
    margin: 2rem 0 1rem 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.score{
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: 2.5rem auto;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
}

h2{
    font-size: 24px;
    font-weight: 400;
}

.choices{
    margin: 3rem 0 1.5rem 0;
}
.choices i {
    font-size: 50px;
    margin: 0 2.5rem;
}
.choices i:hover{
    color:rgb(75, 75, 211);
    cursor: pointer;
}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal.active{
    display: block;
}
.modal__content{
    background: #fff;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(0, 0, 0, 0.17); */
    animation-name: modalopen;
    animation-duration: 1s;
}

.txt-win,
.txt-lose,
.txt-draw{
    margin-bottom: 1rem;
}.txt-win{
    color: rgb(47, 187, 47);
}
.txt-lose{
    color: rgb(228, 42, 42);
}
.txt-draw{
    color: rgb(145, 136, 136);
}

.modal__content p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
}
strong{
    font-weight: 600;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media(max-width:320px){
    .modal__content{
        width: 300px;
    }
}